
.results {
  display:inline;
  font-weight: 500;
  color: #666;
  margin-left : 6px;
}

.contact-info br {
  display : none;
}

.contact-info p {
  display : inline;
}

.show-link {
  color           : $green;
  text-decoration : underline;
}

#CustomLoginForm_LoginForm{
  .icheckbox_minimal{
    left: -15px;
    top :-2px;
  }
}