// Members Area
// -------------------
.membersarea-sidebar{
  padding-right: 40px;
  .well{
    padding :10px 30px 30px;
  }
}

.members-area-form {
  margin-top :10px;
  .CompositeField {
    .form-group {
      width : 49%;
      float : left;
      &:nth-child(even) {
        float : right;
      }
    }
  }
}


#alert-only{
  .form-actions, fieldset{
    display: none;
  }
}

.t-declaration-alert{
  padding: 50px 15% 60px 50px;
  margin :40px 10% 50px 0;
}


.t-back-link{
  display: inline-block;
  i{
    margin-right: 6px;
  }
}