.search-area form{

	fieldset,
	.form-actions{
		display: inline-block !important;
	}
	input{
		width: 200px !important;
	
	}
	button{
		border-radius: 0 2px 2px 0 !important;
		margin-top: -1px;
		margin-left: -5px;
	}
}


#BootstrapForm_ContactForm .form-control {
    min-height: 45px;
    background-color: #fff;
    margin-bottom: 2em; 
}

// Add margin on the first search button on mobile view
@media(max-width:767px){
	.intro-text-1 .row div:first-child{
		margin-bottom: 2em;
	}
}



#GreenStarOrderForm,
#HouseOrderForm{
	select{
		display: inline-block; 
		position: relative;
		top: -1px;
		width: 120px; 
		font-size: 16px;
		margin: 0 15px 0 10px;	
		color: #666;
		border: 1px solid #bbb;	
		text-align: center;
	}
}
.results{
	display: inline;
	font-weight: 500;
	margin-left: 7px;
}
.contact-info br{
	display: none;
}
.contact-info p{
	display: inline;
}
.first-logo{
	position: absolute;
	top: 0px;
	right: 50px;
}
.second-logo{
	position: absolute;
	top: 60px;
	right: 50px;
}