#house-container{
	position: relative;
	height: 550px;
	width: 1000px;
	margin: 0 auto;
	#help{
		position: absolute;
		bottom:150px;
		right: 150px;
	}
	svg{
		position: absolute;
		top: -80px;
		left: 130px;
		z-index: -1;
	}
	
	#Services,#Paints,#Interior,#Shell,#Structure,#Landscape{
		display: none;
	}
	.services{
		position: absolute;
		top: 90px;
		left: 120px;
		
	}
	.fit-out{
		position: absolute;
		top: 180px;
		left: 120px;

	}
	.paints{
		position: absolute;
		top: 300px;
		left: 120px;

	}
	.build-shell{
		position: absolute;
		top: 100px;
		left: 790px;
	}
	
	.category-table{
		border: 1px solid #D0D6DF;
    	margin-bottom: 30px;
    	i{
			margin-right: 1em;
		}
    	h4{
    		color: #666;
		    padding: 20px;
		    font-size: 20px;
		    font-weight: 600;
		    text-transform: capitalize;
		    margin: 0;
		    border-bottom: 1px solid #D0D6DF;
    	}
    	p{
    		margin: 0;
		    border-bottom: 1px solid #D0D6DF;
		    padding: 5px 20px;
		    font-weight: 400;
		    background-color: #f4f4f4;
    	}
    	ul{
    		padding-top: 10px;
    		li{
	    		padding: 6px 20px;
			    border-bottom: 1px solid #f5f5f5;
			    color: #aeaeae;
	    	}
	    	i{
	    		color: $green;
	    	}
    	}

	}
}
// Interactive House Cards
.house-card{

	tbody{
		display: none;
		border-top: none;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
	}
	.table>thead>tr>th{
		padding: 10px 20px 10px 15px;
		border: none;
	}
	.table>tbody>tr>td{
		padding: 5px 20px 5px 15px;
	}
	.green{
		background: $green;
		color: white;
	}
}



