#home-parallax{
	position: relative;
	font-family: 'Raleway';
	min-height: 620px;
	padding-top: 60px;
	padding-bottom: 0px;
	background-size: cover;
	background-repeat: no-repeat;
	@media (max-width: $small) {
		min-height: 300px;
	}
	h1{
		font-size: 50px;
		font-weight: 900;
		letter-spacing: 1px;
		@media (max-width: $small) {
			font-size: 40px;
		}
	}
	p.main-lead{
	font-size: 20px;
	@media (max-width: $small) {
		font-size: 16px;
	}
	font-weight: 500;
	margin: 10px 0 0 0;
	line-height: 1.5;
	}
	.home-buttons{

		.btn{
			margin-bottom: 20px;
			width: 100%;
			font-size: 11px;
		}
	}
}
.flipster__button{
	color: #fff;
}

#cover-flow{
	display: none;
}
.cover{
	width: 400px;
	border: 2px solid #fff;
    margin-bottom: 20px;
    h4{
    	background-color: #fff;
    	border-bottom: 2px solid #fff;
	    margin: 0px;
	    color: $green;
	    padding: 15px;
	    font-size: 18px;
	    text-align: center;
	    font-weight: 600;
	    text-transform: capitalize;
    }
    .bottom{
    	background-image: url(../img/box.png);
    	padding: 10px 10px 20px 10px;
    	text-align: center;
    	overflow: hidden;
    }
    img{
    	height: 160px;
    	margin-bottom: 20px;
    }
}

.fallback-image{
	position: absolute;
	top:0;
    background-attachment: scroll; 
    height: 100%;
    width: 100%;
    transition: all 3s;
}
.video-wrapper {
	position: relative;
	.player{
		position: absolute;
		top:0;
	}
	.video-content{
		position: absolute;
		width: 100%;
		top: 40%;
	}
	#play-button{
		margin-top: 0px;
		font-size: 60px;
		color: white;
		opacity: 0.8;
		transition: all 0.4s;
		&:hover{
			cursor: pointer;
			color: #eee;
		}
		&:active{
			transform: translateY(2px);
		}
	}
}
