// Members Area
// -------------------
.membersarea-sidebar{
  padding-right: 40px;
  .well{
    padding :10px 30px 30px;
  }
}

.members-area-form {
  margin-top :10px;
  .CompositeField {
    .form-group {
      width : 49%;
      float : left;
      &:nth-child(even) {
        float : right;
      }
    }
  }
}

#Form_ProductImagesForm,
#Form_MemberLogoForm,
#Form_CertificateForm{
  label,
  .ss-uploadfield-item-edit,
  .ss-uploadfield-item-delete{
    display : none;
  }
  .ss-uploadfield-fromcomputer{
    display: block;
  }
  .middleColumn {
    //height     : 300px;
    min-width  : auto;
    max-width  : none;
    border     : none;
    background : none;
    width      : auto;
  }
  .template-download, .ss-uploadfield-addfile{
    padding :15px 0;
  }
  .preview {
    float : initial;
    height : 100px;
    width : 180px;
    line-height: 10px;
    text-align: left;
    img{
      height : 100%;
      width :auto;
    }
  }
  .ss-uploadfield-item-info{
    float: initial;
    margin : 0;
  }
  .ss-uploadfield-item-preview.ss-uploadfield-dropzone{
    float : initial;
  }
  .upload-btn{
    //padding : 0;
    margin :10px 0;
  }
  .ss-uploadfield .ss-uploadfield-item .ss-uploadfield-item-preview{
    width :150px;
    height :90px;
  }
}

#alert-only{
  .form-actions, fieldset{
    display: none;
  }
}
